<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
        <style>
            html, body {
                margin:0;
                background:#05cdff;
                display:flex;
                flex-direction:column;
                align-items:center;
            }
            h1 {
                background:black;
                color:#05cdff;
                margin:0;
                font-family: 'Courgette', cursive;
                height:10vh;
                display:flex;
                justify-content:center;
                align-items:center;
                width:99.1vw;
            } #call {
                height:5vh;
                font-family: 'Oxygen', sans-serif;
                font-size:120%;
                display:flex;
                justify-content:center;
                align-items:center;
            }
            
            .buzzWords {
                display:flex;
                justify-content:space-evenly;
                align-items:center;
                background:white;
                height:8vh;
                width:99vw;
                border:solid .1em black;
            } article {
                width:fit-content;
                text-align:center;
                background:white;
            } 
            figure {
                font-weight:bold;
                background:black;
                color:#05cdff;
                text-align:center;
                margin-top:1vh;
                margin-bottom:1vh;
                font-family: 'Oxygen', sans-serif;
                padding:1%;
                border-radius:.9em;
            }
            .plasterPebblePics {
                border-radius:.9em .9em .3em .3em;            }
            img {
                margin:0;
                height:40vh;
                position:relative;
            } 

            article {
                font-family:'Asap', sans-serif;
            } #buzzList {
                margin:0;
                display:flex;
                flex-direction:row;
                justify-content:space-evenly;
                align-items:center;
                height:10vh;
                margin-bottom:1vh;
                border:solid .1em black;
                background:white;
            } .buzzListItem {
                width:fit-content;
                font-size:90%;
            } 
            
            #beforeAfter {
                background:white;
                color:black;
                border:solid .4em black;
                margin-bottom:13vh;
            } #beforeAfterBanner {
                display:flex;
                justify-content:space-around;
                align-items:center;
            }
            .beforeAfter {
                
                padding:1%;
                width:fit-content;
                font-family:'Asap', sans-serif;
                font-weight:bold;
                margin-bottom:-.6vh;
            } #before {
                
                text-shadow: -.125em .125em #34e07e;
                
            } #after {
                text-shadow: .125em .125em #25c4f5;
            }

            #beforeAfter img {
                width:40vw;
                margin:0;
            } #picContainer {
                margin:0;
                padding:0;
            } .beforeAfterImages {
                position:relative;
                top:.95vh;
            }
            
            
            #footer {
                background:#000;
                position:fixed;
                bottom:0;
                width:100vw;
                height:12vh;
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content: center;
                line-height:1.4em;
                color:#05cdff;
            } .contactItem {
                width:17em;
                background:black;
                font-size:115%;
                height:100%;
                line-height:1.2em;
            } #topContactItem {
                border:none;
                
            }

            @media only screen and (min-width:900px) {
                img {
                    margin-top:1vh;
                    width:50vw;
                    height:auto;
                }.buzzWords {
                    width:70vw;
                } #buzzList {
                    width:70vw;
                } .buzzListItem {
                    font-size:100%;
                } .beforeAfter {
                    font-size:120%;
                }
            }
        </style>
    </head>
    <body>

        <h1>
            Preston's Pool Service
        </h1>

        <section id='call'>
            <div>Call (832)594-4404</div>
        </section>

        <section class='buzzWords'>
                <article>
                    Free Estimates!
                </article>
            <article>
                Weekly Services
            </article>
            <article>
                Chemical Maintenance
            </article>
        </section>

        <figure id='plasterKid'>
            <img src='kid.png' class='plasterPebblePics'>
            <figcaption>Basic Plaster</figcaption>
        </figure>
        

        <section id='buzzList'>
            <article class='buzzListItem'>
                Veteran and Senior Discounts
            </article>
            <article class='buzzListItem'>
                Equipment Repairs
            </article>
            <article class='buzzListItem'>
                Servicing Greater Houston
            </article>
        </section>
        
        <figure>
            <img src='pebble.png' class='plasterPebblePics'>
            <figcaption>Pebble Tech</figcaption>
        </figure>

        <section id='beforeAfter'>
            <div id='beforeAfterBanner'>
                <div class='beforeAfter' id='before'>Before</div>
                <div class='beforeAfter' id='after'>After!</div>
            </div>
            <div id='picContainer'>
                <img class='beforeAfterImages' src='before.jpg'>
                <img class='beforeAfterImages' src='after.jpg'>
            </div>
        </section>

        <section id='footer'>
            <article class='contactItem' id='topContactItem'>
                (832)594-4404
            </article>
            <article class='contactItem'>
                prestonspoolservice7@gmail.com
            </article>
            <article class='contactItem'>
                PO Box 800394 Houston, TX 77280
            </article>
        </section>
        

    </body>
    <script>
    
    </script>
</html>