:root {
    --true-blue:#05cdff;
    --opposite-of-afternoon:#ff5005;
}

html, body {
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:var(--true-blue);
} header {
    /* background:black; */
    width:100%;
    display:flex;
    justify-content:space-evenly;
}
h1 {
    color:white;
    background:var(--true-blue);
    margin:0;
    font-family: 'Courgette', cursive;
    text-align:center;
} #phone {
    text-align:center;
    display:flex;
    align-items:center;
    color:black;
    font-family: 'Oxygen', sans-serif;
} h2 {
    background:var(--opposite-of-afternoon);
    text-align:center;
    margin:0;
    width:100%;
    font-family:'Seymour One', sans-serif;
    color:white;
}

#buzz {
    background:black;
    color:white;
    width:100%;
}

.buzzWords {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background:white;
    height:8vh;
    width:99vw;
    border:solid .1em black;
} article {
    width:fit-content;
    text-align:center;
    background:white;
} 
figure {
    font-weight:bold;
    background:black;
    color:var(--true-blue);
    text-align:center;
    margin-top:1vh;
    margin-bottom:1vh;
    font-family: 'Oxygen', sans-serif;
    padding:1%;
    border-radius:.9em;
}
.plasterPebblePics {
    border-radius:.9em .9em .3em .3em;            }
img {
    margin:0;
    height:40vh;
    position:relative;
} 

article {
    font-family:'Asap', sans-serif;
} #buzzList {
    margin:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    height:10vh;
    margin-bottom:1vh;
    border:solid .1em black;
    background:white;
} .buzzListItem {
    width:fit-content;
    font-size:90%;
} 

#beforeAfter {
    background:white;
    color:black;
    border:solid .4em black;
    margin-bottom:13vh;
} #beforeAfterBanner {
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.beforeAfter {
    
    padding:1%;
    width:fit-content;
    font-family:'Asap', sans-serif;
    font-weight:bold;
    margin-bottom:-.6vh;
} #before {
    
    text-shadow: -.125em .125em #34e07e;
    
} #after {
    text-shadow: .125em .125em #25c4f5;
}

#beforeAfter img {
    width:40vw;
    margin:0;
} #picContainer {
    margin:0;
    padding:0;
} .beforeAfterImages {
    position:relative;
    top:.95vh;
}


#footer {
    background:#000;
    position:fixed;
    bottom:0;
    width:100%;
    height:12vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    line-height:1.4em;
    color:var(--true-blue);
} .contactItem {
    width:17em;
    background:black;
    font-size:115%;
    height:100%;
    line-height:1.2em;
} #topContactItem {
    border:none;
    
}

@media only screen and (min-width:900px) {
    img {
        margin-top:1vh;
        width:50vw;
        height:auto;
    }.buzzWords {
        width:70vw;
    } #buzzList {
        width:70vw;
    } .buzzListItem {
        font-size:100%;
    } .beforeAfter {
        font-size:120%;
    }
}