:root {
    --true-blue:#05cdff;
    --opposite-of-afternoon:#ff5005;
}

html, body {
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:var(--true-blue);
} header {
    /* background:black; */
    width:100%;
    display:flex;
    justify-content:space-evenly;
}
h1 {
    color:white;
    background:var(--true-blue);
    margin:0;
    font-family: 'Courgette', cursive;
    text-align:center;
} #phone {
    text-align:center;
    display:flex;
    align-items:center;
    color:black;
    font-family: 'Oxygen', sans-serif;
} h2 {
    background:var(--opposite-of-afternoon);
    text-align:center;
    margin:auto;
    width:100%;
    font-family:'Seymour One', sans-serif;
    color:white;
    border:solid .1em black;
    border-radius:1em;
}
#buzz {
    background:var(--true-blue);
    color:white;
    width:100%;
    display:flex;
    justify-content:space-evenly;
} #freeEstimate {
    width:9em;
    height:auto;
} #buzzWords {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    font-family:'Asap', sans-serif;
} .buzzWord {
    background:var(--true-blue);
    color:black;
}


#plasterPebblePictures {
    display:flex;
    justify-content:center;
    width:97vw;
    /* background:lime; */
} .figure {
    font-weight:bold;
    background:var(--opposite-of-afternoon);
    color:white;
    text-align:center;
    margin-top:1vh; 
    margin-bottom:1vh;
    font-family: 'Oxygen', sans-serif;
    padding:1%;
    border-radius:.9em;
    text-align:center;
} .plasterPebblePics {
    border-radius:.9em .9em .3em .3em;
    height:10em;
    width:auto;
} img[src='plaster-pool-cleaning.png'] {
    border-radius:.9em 0em 0em .9em;
} img[src='pebble-tech-pool-maintenance.png'] {
    border-radius:0em .9em .9em 0em;
} #plasterFigure {
    border-radius:.9em 0em 0em .9em;
} #pebbleFigure {
    border-radius:0em .9em .9em 0em;
}

#blurb {
    padding:1%;

} .blurbContents {
    text-indent:2em;
}


#beforeAfter {
    background:var(--opposite-of-afternoon);
    color:white;
    border:solid .4em var(--opposite-of-afternoon);
    margin-bottom:13vh;
    border-radius:9px;
} #beforeAfterBanner {
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.beforeAfter {
    padding:1%;
    width:fit-content;
    font-family:'Asap', sans-serif;
    font-weight:bold;
    margin-bottom:-.6vh;
} #before, #after {
    color:white;
}

#beforeAfter img {
    width:40vw;
    margin:0;
}
  #picContainer {
    margin:0;
    padding:0;
} .beforeAfterImages {
    /* height:10em; */
} 


#footer {

    background:var(--true-blue);
    position:fixed;
    bottom:0;
    width:100%;
    height:12vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    line-height:1.4em;
    color:var(--true-blue);
} .contactItem {
    font-family: 'Oxygen', sans-serif;
    font-weight:bold;
    text-align:center;
    width:17em;
    color:black;
    font-size:115%;
    height:100%;
    line-height:1.2em;
} 

@media only screen and (min-width:900px) {
    .plasterPebblePics {
        height:20em;
    }

    .buzzWords { 
        width:70vw;
    } #buzzList {
        width:70vw;
    } .buzzListItem {
        font-size:100%;
    }

    #blurb {
        width:79vw;
        margin:1vw;
    } .blurbContents {
        
    }
    
    .beforeAfter {
        font-size:120%;
    } .beforeAfterImages {
        width:10vw;
        height:auto;
      }
}